<%= stylesheet_link_tag 'main' %>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<div class="body_narrow color_year_date">
  <div class="div_center top_bottom_margin font_17 div_bold">
    このウェブサイトについて
  </div>

  <div class="div_center font_15">
    もうすぐ幕を閉じる、21世紀2度目の10年間。<br/>
    10年前に抱えていた課題を、<br/>日本は乗り越えることができたのか――。<br/><br/>

    大きなフィクションを事実の中に交えることで、<br/>
    この10年間の見えざる部分に光が当たるのでは?<br/>
    そんな発想をベースに、このウェブサイト作成しました。<br/><br/>

    少なくとも1つの都道府県が沈没していたら、<br/>
    為政者は何を語り、<br/>各地域の人口はどのように変化したのか。<br/><br/>

    会員登録をすれば、<br/>
    誰もが自分だけの「日本沈没」を作ることができます。<br/>
    1人でも多くの人にストーリーテラーになっていただき、<br/>
    皆でこの10年間を振り返ることができれば幸いです。<br/><br/>

    新型コロナウイルスの状況を見つつ、<br/>
    2020年後半にオフラインで作品の発表会イベントも実施予定!<br/>
    最優秀作品の作成者様には1万円相当の商品券プレゼント!!<br/><br/>

    <div class="font_9">※本ウェブサイトは、小松左京先生の小説『日本沈没』に影響を受け作成しておりますが、<br/>
    NETFLIXオリジナルアニメシリーズ『日本沈没2020』様とは関係ございません。</div><br/>

    <div class="font_15">
      ★会員登録を希望される方はこちらまでお問い合わせください★<br/>
      yanagisawa.asuka.kohei@gmail.com(管理者メールアドレス)
    </div>

  </div>
</div>
