<div class="body_narrow_manual">
  <div class="div_bold div_center">■操作マニュアル画面■</div><br/>

  <div class="font_17 div_center">初期人口画面</div>
  <span class="div_bold">初期人口とは?</span><br/>
  <div class="left_bottom_margin">⇒2011年1月1日時点の日本国民と日本永住権を持つ外国籍の人口推計です。</div>

  <span class="div_bold">初期人口を修正したい</span><br/>
  <div class="left_bottom_margin">⇒初期人口を修正することはできません。</div>

  <span class="div_bold">初期人口の値に誤りがある</span><br/>
  <div class="left_bottom_margin">⇒あくまで推計のため正しい値ではない可能性もあります。ご了承ください。<br/>
  著しく実態と乖離がある場合、管理者にお伝えいただけますと幸いです。</div>

  <div>――――――――――――――――――――――――――――――――――――――――――――――――――――――――――</div>

  <div class="font_17 div_center">出来事登録関連</div>
  <div>■基本事項■</div>
  <span class="div_bold">出来事を登録したい</span><br/>
  <div class="left_bottom_margin">⇒出来事一覧画面にて「出来事登録」をクリックすると、出来事情報入力画面が表示されます。<br/>
  その画面で必要情報を入力し、確定ボタンをクリックすると、出来事登録が完了します。</div>

  <span class="div_bold">出来事を編集したい</span><br/>
  <div class="left_bottom_margin">⇒出来事一覧画面にて各出来事の日付列の日付をクリックすると、出来事情報閲覧画面が表示されます。<br/>
  その画面の「編集」をクリックすると、出来事情報入力画面が表示されます。<br/>
  出来事登録と同じ要領で、必要情報を入力し確定ボタンをクリックすると、出来事編集が完了します。</div>

  <span class="div_bold">登録済みの出来事を削除したい</span><br/>
  <div class="left_bottom_margin">⇒出来事情報画面にて「削除」をクリックしてください。</div>

  <span class="div_bold">登録・編集した出来事が、出来事一覧画面で灰色網掛けで表示される</span><br/>
  <div class="left_bottom_margin">
  ・有効列が「-」の場合:出来事情報入力画面にて、有効ボタンを選択し、確定ボタンをクリックしてください<br/>
  ・総人口-性別・年齢別人口列が「±0」以外の場合:性別・年齢別人口増減入力画面にて、
  総人口増減と等しい合計値を登録してください<br/>
  ・総人口-居住地別人口が「±0」以外の場合:居住地別人口増減・移動入力画面にて、
  総人口増減と等しい合計値を登録してください</div>
  
   <span class="div_bold">年間人口増減とは?</span><br/>
  <div class="left_bottom_margin">⇒出来事一覧画面のタイプ列が「年間」のデータで、該当年の1/1から12/31の間の人口増減を示しています。<br/>
  初期段階では、管理者が国勢調査を元に設定した推計の値が設定されています。</div>

  <span class="div_bold">年間人口増減を修正したい</span><br/>
  <div class="left_bottom_margin">⇒出来事情報画面にて、[編集]性別・年齢別年間人口増減または[編集]居住地別人口増減・移動をクリックいただくと、
  性別・年齢別人口増減入力画面または居住地別人口増減・移動入力画面にて、年間人口増減の編集ができます。</div>

  <span class="div_bold">年間人口増減を削除したい</span><br/>
  <div class="left_bottom_margin">⇒年間人口増減の削除はできません。該当年の人口増減が存在しない場合、
  性別・年齢別人口増減入力画面と居住地別人口増減・移動入力画面にて、該当年の人口増減を0に設定してください。</div>

  <br/>
  <div>■出来事情報入力画面■</div>

  <span class="div_bold">総人口増減とは?</span><br/>
  <div class="left_bottom_margin">⇒その出来事により、生じる犠牲者数、日本国籍離脱者数、増加人口数などです。</div>

  <span class="div_bold">事実/フィクションボタンとは?</span><br/>
  <div class="left_bottom_margin">⇒登録・更新する出来事が事実の場合は事実、架空の場合、フィクションを選択してください。</div>

  <span class="div_bold">有効/無効ボタンとは?</span><br/>
  <div class="left_bottom_margin">⇒作品登録対象にしたくない出来事の場合、無効を選択してください。</div>

  <span class="div_bold">汚染・沈没設定とは?</span><br/>
  <div class="left_bottom_margin">⇒その出来事により、都道府県が放射能汚染または沈没する場合に設定していただく項目です。<br/>
  放射能汚染と沈没の双方を選択した場合、沈没が優先されて登録されます。</div>

  <br/>
  <div>■性別・年齢別人口増減入力画面/居住地別人口増減・移動入力画面■</div>

  <span class="div_bold">確定ボタンの左上にある総人口増減とは?</span><br/>
  <div class="left_bottom_margin">⇒出来事情報入力画面で設定した総人口増減が表示されます。</div>

  <span class="div_bold">減少/増加ボタンの意味は?</span><br/>
  <div class="left_bottom_margin">⇒チェックボックスにチェックを入れ、人口増減割合を選択していただいたうえで減少/増加ボタンをクリックすると、
  該当出来事の1つ前の出来事を基準とした増減値が自動設定されます。</div>

  <br/>
  <div>■その他■</div>

  <span class="div_bold">2011-01-01の出来事を削除・無効化したい</span><br/>
  <div class="left_bottom_margin">⇒2011-01-01の出来事の削除・無効化はできません。</div>

  <div>――――――――――――――――――――――――――――――――――――――――――――――――――――――――――</div>

  <div class="font_17 div_center">作品登録画面</div>

  <span class="div_bold">作品登録画面とは?</span><br/>
  <div class="left_bottom_margin">⇒登録した出来事を作品として保存する画面です。<br/>
  作品の保存を行うことで、登録した出来事を本ウェブサイトのトップページのようなビジュアルで閲覧することができます。</div>

  <span class="div_bold">作品登録画面に出来事一覧の意味は?</span><br/>
  <div class="left_bottom_margin">⇒出来事一覧画面にて有効状態(灰色網掛けでない)のデータが、作品対象の出来事として表示されています。</div>

  <span class="div_bold">総人口-性別・年齢別人口の列がオレンジ網掛けで表示されることがある</span><br/>
  <div class="left_bottom_margin">⇒性別・年齢別人口増減入力画面にて、既に人口が0の性別/出生年の人口を減算しているため、生じる事象です。</div>
  オレンジ網掛け状態でも、作品保存は可能です。<br/>

  <span class="div_bold">総人口-居住地別人口の列がオレンジ網掛けで表示されることがある</span><br/>
  <div class="left_bottom_margin">⇒居住地別人口増減・移動入力画面にて、既に人口が0の都道府県の人口を減算しているため、生じる事象です。</div>
  オレンジ網掛け状態でも、作品保存は可能です。<br/>

  <span class="div_bold">沈没してるが人口1以上の列がオレンジ網掛けで表示されることがある</span><br/>
  <div class="left_bottom_margin">⇒出来事情報入力画面にて、全域沈没に設定した都道府県の人口が1を超えているため、生じる事象です。<br/>
  全域が沈没したら、物理的に人が住むことができないため、オレンジ網掛け機能を設定せっていしています。<br/>
  オレンジ網掛け状態でも、作品保存は可能です。</div>

  <span class="div_bold">作品を保存するには?</span><br/>
  <div class="left_bottom_margin">⇒作品名に任意のタイトルを入力いただき、確定ボタンをクリックしていただくと、作品が保存されます。</div>

  <span class="div_bold">保存した作品を閲覧するには?</span><br/>
  <div class="left_bottom_margin">⇒表示作品で閲覧したい作品を選び、閲覧ボタンをクリックしてください。</div>

  <span class="div_bold">保存した作品を削除するには?</span><br/>
  <div class="left_bottom_margin">⇒表示作品で閲覧したい作品を選び、削除ボタンをクリックしてください。</div>

  <span class="div_bold">保存した作品を公開するには?</span><br/>
  <div class="left_bottom_margin">⇒表示作品で閲覧したい作品を選び、公開ボタンをクリックしてください。<br/>
  作品を公開すると、公開作品画面にて、ログインユーザー全員が作品を閲覧できるようになります。<br/>
  公開できる作品は、1ユーザー1作品のみです。</div>

  <span class="div_bold">作品の公開を停止するには?</span><br/>
  <div class="left_bottom_margin">⇒公開停止ボタンをクリックしてください。</div>

  <span class="div_bold">確定ボタンが表示されず、作品保存ができない</span><br/>
  <div class="left_bottom_margin">⇒有効な出来事が50個を超える場合、作品保存はできません。</div>

  <span>
</div>
