<div class="body">
  <div class="div_center">
    <%= form_for @age_and_genders,:url => {controller: "event_year_ages"} do |form| %>
      <%= render "form", form: form %>
    <% end %>
  </div>
</div>
