<div class="body">
  <div class="div_center">
    <div class="div_inline_flex">2011年1月1日時点の総人口:
    <%= form_for @total_population do |form| %>
      <%= form.text_field :value, size:10, :class=>'age_new_input' %></div>
      <%= form.submit value="登録" %>
    <% end %>
  </div>
</div>
